In [1]:
print("Hello")

Hello

In [2]:
lst=[]
print(type(lst))

<class 'list'>

In [3]:
name=["Gautam","Priyanshu","Monika",79,70,70]
print(name)

['Gautam', 'Priyanshu', 'Monika', 79, 70, 70]

In [5]:
mixed_list=[1,"Hello",5,"Shivam"]
print(mixed_list)

[1, 'Hello', 5, 'Shivam']

In [2]:
#Accessing a List Elements
fruits=["apple","banana","cherry","kiwi","melons"]

In [3]:
print(fruits[0])
print(fruits[4])
print(fruits[-1])

apple
melons
melons

In [6]:
print(fruits[1:])
print(fruits[1:3])
print(fruits[-1:2])

['banana', 'cherry', 'kiwi', 'melons']
['banana', 'cherry']
[]

In [7]:
#MODIFYING THE LIST ELEMENTS
fruits

['apple', 'banana', 'cherry', 'kiwi', 'melons']

In [8]:
fruits[1]="Pineapple"
print(fruits)

['apple', 'Pineapple', 'cherry', 'kiwi', 'melons']

In [10]:
fruits[1:]="Strawberries"
print(fruits)

['apple', 'S', 't', 'r', 'a', 'w', 'b', 'e', 'r', 'r', 'i', 'e', 's']

In [11]:
fruits

['apple', 'S', 't', 'r', 'a', 'w', 'b', 'e', 'r', 'r', 'i', 'e', 's']

In [12]:
fruits=["apple","banana","cherry","kiwi","melons"]
#list methods

In [14]:
fruits.append("ORANGE") #Add new item at the end
print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'melons', 'ORANGE', 'ORANGE']

In [16]:
fruits.insert(5,"Pineapple")
print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'melons', 'Pineapple', 'Pineapple', 'ORANGE', 'ORANGE']

In [18]:
#Removing the first occurence of sn item
fruits.remove("ORANGE")
print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'melons', 'Pineapple', 'Pineapple']

In [20]:
#remove abd return the last
popped_fruits=fruits.pop()
print(popped_fruits)

Pineapple

In [21]:
fruits.index("cherry")

2

In [22]:
fruits.count("banana")

1

In [ ]:
fruits.sort()
print(fruits)
fruits.reverse()
print(fruits)

['Pineapple', 'apple', 'banana', 'cherry', 'kiwi', 'melons']
['melons', 'kiwi', 'cherry', 'banana', 'apple', 'Pineapple']

In [28]:
#Slicing List
number=[1,2,3,4,5,6,7,8,9,10]
print(number [2:5])
print(number [:5])
print(number [5:])
print(number [::2])
print(number [::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [29]:
#Iterating Over List
for number in number:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [32]:
number=[1,2,3,4,5,6,7,8,9,10]
for index,number in enumerate(number):
    print(index,number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [34]:
##List Comprehension
lst=[]
for x in range(10):
    lst.append(x**2)
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [35]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [36]:
####### List Comprehension
Basics Syntax                 [Expression for item in iterable]
With Conditional Logic        [Expression for item in iterable if condition]

SyntaxError: invalid syntax (2114132056.py, line 2)

In [37]:
#Basic List Comphrension
square=[num**2 for num in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [38]:
lst=[]
for i in range(10):
    if i%2==0:
        lst.append(i)
print(lst)

[0, 2, 4, 6, 8]

In [39]:
even_number=[num for  num in range(10) if num%2==0]
print(even_number)

[0, 2, 4, 6, 8]

In [ ]:
#NESTED list Comprehension [Expression for item in iterable for item 2 in object]

In [41]:
lst=[1,2,3,4]
lst2=['a','b','c','d']
pair=[[i,j] for i in lst for j in lst2]
print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [44]:
#LIST COMPREHNESION WITH FUNCTION CALLS
words=["HELLO","DATA","ANALYST"]
lengths=[len(word) for word in words]
print(lengths)

[5, 4, 7]

In [1]:
#TUPLES::::::::#TUPLES
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [3]:
numbers=tuple([1,2,3,4,5,6,7])
numbers

(1, 2, 3, 4, 5, 6, 7)

In [4]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [5]:
mixed_tuple=(1,"Hello World",3.14,True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [6]:
#Accessing Tuples Element 
numbers

(1, 2, 3, 4, 5, 6, 7)

In [7]:
print(numbers[2])
print(numbers[-1])

3
7

In [8]:
numbers[0:4]

(1, 2, 3, 4)

In [9]:
numbers[::-1]

(7, 6, 5, 4, 3, 2, 1)

In [10]:
#Tuples Operation
concat_tup=numbers+mixed_tuple
print(concat_tup)

(1, 2, 3, 4, 5, 6, 7, 1, 'Hello World', 3.14, True)

In [11]:
mixed_tuple*3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [12]:
numbers*3

(1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7)

In [14]:
#Immutuable Nature of Tuples
lst=[1,2,3,4,5]
print(lst)
lst[1]="Krish"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Krish', 3, 4, 5]

In [15]:
numbers[1]="Krish"

TypeError: 'tuple' object does not support item assignment

In [21]:
#Tuple Methods
print(numbers.count(1))
print(numbers.index(3))

1
2

In [23]:
#Packing AND Unpacking
pack_tup=1,"Hello",3.14
print(pack_tup)
#unpacking
a,b,c=pack_tup
print(a)
print(b)
print(c)

(1, 'Hello', 3.14)
1
Hello
3.14

In [25]:
#unpacking with *
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [4]:
##Nested tuples
#NESTED LIST    
lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
lst[2][0:3]

[1, 'Hello', 3.14]

In [5]:
nested_tuple=((1,2,3),("a","b","c"),(True,False))
#access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [6]:
#Iterating Over Nested Tuples
for sub_tup in nested_tuple:
    for item in sub_tup:
        print(item,end="")
    print()

123
abc
TrueFalse

In [ ]:
#Tuples are versatile and useful in many real-world scenario where an immutable
#and ordered collection of items is required.