In [1]:
print(1+1)

2

In [3]:
print(4+8)

12

In [5]:
name="Krish"
Name="Aarv"

print(name)
print(Name)

Krish
Aarv

In [7]:
age=32
if age>30:
    print("Its an Adult")

Its an Adult

In [11]:
#Single line comments 
print("Hello world")

Hello world

In [12]:
## line continuation
total=1+2+3+4+5+6+7+8+ \
4+5+6
print(total)

51

In [ ]:
###Multiple statements on a single line
x=5;y=10;z=x+y

In [14]:
print(z)

15

In [16]:
#understand Semantic in Python
# Variable Assignment
age=32 ## age is an integer 
name="krish" ##name is a string
type(age)

int

In [18]:
type(name)

str

In [20]:
## type inference 
variable =10
print(type(variable))

<class 'int'>

In [21]:
variable =10
print(type(variable))
variable="Gautam"
print(type(variable))

<class 'int'>
<class 'str'>

In [22]:
if True:
    print("Correct Indentation")
    if False:
        print("This print")
    print("This will also print")
print("Outside the If block")

Correct Indentation
This will also print
Outside the If block

In [23]:
# #     VARIABLES:::::
age=23
height =5.5
name="Gautam"
is_student_of_MCA=True

#printing the variables
print("Age: ",age)
print("Height: ", height)
print("Name: ",name)
print("Student of MCA: ",is_student_of_MCA)

Age:  23
Height:  5.5
Name:  Gautam
Student of MCA:  True

In [24]:
#NAMING CONVENTION
#VARIABLE NAMES SHOULD BE DESCRIPTIVE
# THEY MUST START WITH A LETTER OR '_' AND CONTAINS ALPHABET, NUMBER AND UNDERSCORE
# INVALID VARIABLE LIKE: 
#first-name="krish"
@name="krish"

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (971633974.py, line 6)

In [27]:
name="Gautam"
print(name)

Gautam

In [28]:
#understanding variables types
#python is dynamically typed, type of a variable is determined at runtime
age=25 #int 
height=5.5 #float
name="gautam" #string
print(type(height))

<class 'float'>

In [30]:
#Dynamic Typing 
#Python allows the type od a variable to change as the program executes
var=10
print(var,type(var))

var="Hello"
print(var,type(var))

var=3.14
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [32]:
## INPUT
age=int(input("What is your age?"))
print(age,type(age))

25 <class 'int'>

In [1]:
num1 = float(input("Enter First Number: "))
num2 = float(input("Enter Second Number: "))
add= num1 + num2
sub= num1 - num2
mul= num1 * num2
div= num1 / num2
print("Sum: ",add)
print("Subtract: ",sub)
print("Multiply: ", mul)
print("division: ", div)

Sum:  30.0
Subtract:  20.0
Multiply:  125.0
division:  5.0

In [2]:
#DATATYPES
age=35
type(age)

int

In [3]:
#float
width=65.1
print(width)
print(type(width))

65.1
<class 'float'>

In [4]:
#string
name="Gautam"
print(name)
print(type(name))

Gautam
<class 'str'>

In [5]:
#boolean datatype
is_True =True
type(is_True)

bool

In [6]:
bool()

False

In [8]:
a=10
b=10
a==b
type(a==b)

bool

In [12]:
##common error
result ="Hello " +"& Welcome"
#string add with string consist a Number
re ="Hello" + str(5)
print(result)
print(re)

Hello & Welcome
Hello5

In [13]:
str="Hello"
str.upper

In [14]:
#operator
num1 = float(input("Enter First Number: "))
num2 = float(input("Enter Second Number: "))
add= num1 + num2
sub= num1 - num2
mul= num1 * num2
div= num1 / num2
print("Sum: ",add)
print("Subtract: ",sub)
print("Multiply: ", mul)
print("division: ", div)

Sum:  567.0
Subtract:  525.0
Multiply:  11466.0
division:  26.0

In [15]:
a=10
b=5
floor_div_result=a//b  #floor
modules=a%b #modulas operation
exp_result=a**b
print(exp_result)
print(floor_div_result)
print(modules)

100000
2
0

In [19]:
#comparison operator
a=10
b=10
n=14
m=4
print(a==b)#equal
print(a!=b) #not equal to 
print(n>m)#greater than
print(n<m)#less than 
print(n>=m) #greater than equal to
print(n<=m) #less than equal to

True
False
True
False
True
False

In [21]:
#LOGICAL OPERATOR
X=False
Y=True
result= X and Y #AND
print(result)
r1 =X or Y    #OR
print(r1)
r2 =not X
print(r2)

False
True
True

In [22]:
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))

print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)
print("Exponentiation:", a ** b)
print("Floor Division:", a // b)
print("Modulus:", a % b)

Addition: 732.0
Subtraction: 558.0
Multiplication: 56115.0
Division: 7.413793103448276
Exponentiation: 2.7020611500512813e+244
Floor Division: 7.0
Modulus: 36.0