# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [1]:
#1. Tuple
tpl=tuple(range(1,11))
print(tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [4]:
#2. Accessing a Tuple
print("First Element: ",tpl[0])
print("Middle Element: ",len(tpl)//2)
print("Last Element: ",tpl[-1])

First Element:  1
Middle Element:  5
Last Element:  10

In [6]:
#3. Tuple Slicing
print("First Three Element: ",tpl[:3])
print("Last Three Element: ",tpl[-3:])
print("Number between 2 to 5: ",tpl[2:5])

First Three Element:  (1, 2, 3)
Last Three Element:  (8, 9, 10)
Number between 2 to 5:  (3, 4, 5)

In [11]:
#4. Nested Tuple
matrix=(
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print(matrix)
for row in matrix:
    print(row)
print("Second Row and Third Column: ",matrix[1][2])

((1, 2, 3), (4, 5, 6), (7, 8, 9))
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
Second Row and Third Column:  6

In [12]:
#5. Tuple Concatenation
tp1=(1,2,3)
tp2=(4,5,6)
tpl=tp1+tp2
print(tpl)

(1, 2, 3, 4, 5, 6)

In [17]:
#6. Tuples Method: count duplicate elements and index
tple1=(1,41,23,45,1,6,79,2,6,7,1,5,23)
print(tple1.count(6))
print(tple1.index(5))

2
11

In [19]:
#7. Unpacking Tuple
tp1=(1,2,3,4,5,6)
a,b,c,d,e,f=tp1
print(a,b,c,d,e,f)

1 2 3 4 5 6

In [22]:
#8. Tuple Conversion
lst=[1,2,3,4,5,6,7,8]
tpl=tuple(lst)
print(tpl)

(1, 2, 3, 4, 5, 6, 7, 8)

In [24]:
#9. Tuples to Tuples
tpl_tpl=(
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print(tpl_tpl)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [28]:
#10. Tuple and List
tp1=(1,2,3,4,5,6)
lst=list(tp1)
lst.append(6)
tp1=tuple(lst)
print(tp1)

(1, 2, 3, 4, 5, 6, 6)

In [29]:
#11. Tuple and String   
string="Hello World"
tpl=tuple(string)
join_string=''.join(tpl)
print(join_string)

Hello World

In [30]:
#12. Tuple and Dictionaries
tpl_dict={
    (1,2):3,
    (4,5):6,
    (7,8):9
}
print(tpl_dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}

In [31]:
#13. Nested Tuple Iteration
nested_tpl = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
for tpl in nested_tpl:
    for elem in tpl:
        print(elem)

1
2
3
4
5
6
7
8
9

In [32]:
#14. Tuple and Set
tpl = (1, 2, 2, 3, 4, 4, 4, 5)
unique_set = set(tpl)
print(unique_set)

{1, 2, 3, 4, 5}

In [34]:
#15. Tuple Function
def min_in_tuple(tpl):
    return min(tpl)

def max_in_tuple(tpl):
    return max(tpl)

def sum_of_tuple(tpl):
    return sum(tpl)
tpl = (1, 2, 3, 4, 5, 6)
print(f"Minimum: {min_in_tuple(tpl)}")
print(f"Maximum: {max_in_tuple(tpl)}")
print(f"Sum: {sum_of_tuple(tpl)}")

Minimum: 1
Maximum: 6
Sum: 21